
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Our Company</h2>
                <p>Our company supplies medical equipment for hospitals and science labs all over the world! Hospitals can order medicine equipment and other serious chemical materials such as injection solutions and reactive materials. More over they can order serious equipment like Anesthesia Machines, Medical Tables and others!</p>
                <p>A few reasons why you should use our services:</p>
                <div>
                    <img src="images/check.png" style="width: 40px; height: 40px;">
                    <p class="pluses">Only we have the largest assortment</p>
                </div>
                <div>
                    <img src="images/check.png" style="width: 40px; height: 40px;">
                    <p class="pluses">We give you guarantee</p>
                </div>
                <div>
                    <img src="images/check.png" style="width: 40px; height: 40px;">
                    <p class="pluses">The system of discount is constantly proceeded</p>
                </div>
                <div>
                    <img src="images/check.png" style="width: 40px; height: 40px;">
                    <p class="pluses">Our consultants will help you to choose the most suitable product</p>
                </div>
                <div>
                    <img src="images/check.png" style="width: 40px; height: 40px;">
                    <p class="pluses">We are in the market of medical equipment for twenty years!</p>
                </div>
                <div class="well">
                    <blockquote>
                        <p>Your professional equipment has improved working processes in medicine of our hospital</p>
                        <footer>Anna Walrish,  
                        <cite title="Source Title">Chief doctor of Charing Cross Hospital</cite></footer>
                    </blockquote>                
                </div>

            </div>
        </div>
    </div>
