
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li><a href="index.html#/catalog">Catalog</a></li>
                   <li class="active">Item Details</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Item Details</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-5 col-sm-5">
            	<img src="images/logotip.jpg" class="img-details">
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-offset-1">
            	<ul>
            		<li>
            			<b>Price</b>
            			<br>
            			100 $
            		</li>
            		<li>
            			<b>Discount</b>
            			<br>
            			10 %
            		</li>
            		<li>
            			<b>Amount</b>
            			<br>
            			2
            		</li>
            		<li>
            			<b>Description</b>
            			<br>
            			This is logotip of our site. It's only logotip and test data for modeling client! :)
            		</li>
            	</ul>
            </div>
        </div>

    </div>
